{% extends "shop/base.html" %}

{% block content %}

<h1>Clothing Store</h1>

<div class="form-box">
    <h2>Witaj w sklepie odzieżowym</h2>
    <p>Przeglądaj produkty, korzystaj z promocji i składaj zamówienia.</p>
    <a class="btn" href="/products/">Przejdź do produktów</a>
</div>

<h2>Promowane produkty</h2>

<div class="products-grid">
    {% for product in featured_products %}
        <div class="card">
            {% if product.image %}
                <img src="{{ product.image.url }}" alt="{{ product.name }}" style="width:100%; height:220px; object-fit:cover; border-radius:12px;">
            {% endif %}

            <h2>{{ product.brand.name }} {{ product.name }}</h2>

            {% if product.average_rating %}
                <p>Ocena: {{ product.average_rating }}/5 ({{ product.reviews_count }})</p>
            {% else %}
                <p>Brak ocen</p>
            {% endif %}

            <a class="btn" href="/products/{{ product.id }}/">Zobacz</a>
        </div>
    {% empty %}
        <p>Brak promowanych produktów.</p>
    {% endfor %}
</div>

<h2>Top produkty</h2>

<div class="products-grid">
    {% for product in top_products %}
        <div class="card">
            {% if product.image %}
                <img src="{{ product.image.url }}" alt="{{ product.name }}" style="width:100%; height:220px; object-fit:cover; border-radius:12px;">
            {% endif %}

            <h2>{{ product.brand.name }} {{ product.name }}</h2>

            {% if product.average_rating %}
                <p>Ocena: {{ product.average_rating }}/5 ({{ product.reviews_count }})</p>
            {% else %}
                <p>Brak ocen</p>
            {% endif %}

            <a class="btn" href="/products/{{ product.id }}/">Zobacz</a>
        </div>
    {% empty %}
        <p>Brak danych sprzedażowych.</p>
    {% endfor %}
</div>

{% endblock %}
